
@import "palette";

footer.primary {
  color: $secondary-text;
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    a {
      color: $gray-text;
      &:hover, &:active {
        color: $primary;
        text-decoration: none;
      }
    }
  }
  .footer-links {
    color: $secondary-text;
  }
}
