
$primary: #2196F3;
$primary-darker: #1976D2;
$primary-lighter: #BBDEFB;

$primary-bg: #20232a;
$secondary-bg: #282c34;

$text: #FFFFFF;
$gray-text: #BBBBBB;
$primary-text: #212121;
$secondary-text: #757575;
$secondary-text-darker: #505050;
$lighter-text: #999999;

$divider: #BDBDBD;
$faint-divider: #ECECEC;

$code-bg: $secondary-bg;
